@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/* The heart of the matter */
.btn-matrix > .btn:nth-child(3n+4) {
  clear: left;
  margin-left: 0;
}
.btn-matrix > .btn:nth-child(n+4) {
  margin-top: -1px;
}
.btn-matrix > .btn:first-child {
  border-bottom-left-radius: 0;
}
.btn-matrix > .btn:nth-child(3) {
  border-top-right-radius: 4px !important;
}
.btn-matrix > .btn:nth-last-child(3) {
  border-bottom-left-radius: 4px !important;
}
.btn-matrix > .btn:last-child {
  border-top-right-radius: 0;
}

.square {
  border: 1px solid white;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  text-align: center;
  width: 50px;
  background: #212121;
  color: white;
}

.btn{
  color: white;
  background: #212121;
  border: 1px solid white;
  margin: 5px;
}

.btn:hover {
  color: black;
  background: white;
}

.btn:focus {
  outline: none;
  color: white;
}

body {
  background:#212121;
  color: white;
  font-family: 'Montserrat'
}